.main{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.myBorder{
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
